.submit-button {
    margin-top: 40px;
}
.delete-button {
    // margin-top: 20px;
}

.wave-fill {
    height: 150px;
    width: 150px;
    background: #222;
    overflow: hidden;
    border-radius: 100%;
}
span {
    display: block;
    width: 100%;
}
.wave {
    background: url("../../../assets/imgs/wave.png");
    height: 22px;
    background-size: contain;
    animation: wave 10s linear infinite;
}
.deep-water {
    background: rgb(4, 103, 246);
    height: 200px;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 1000px 0px;
    }
}
.water {
    animation: water 10s ease infinite;
}
@keyframes water {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-10%);
    }
}

