<app-header title="Event" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <app-loader *ngIf="!event"></app-loader>
    <div *ngIf="event">
        <h1><strong><em>{{ event.name }}</em></strong></h1>
        <div class="tags">
            <div class="tag">{{ event.location }}</div>
            <div class="tag">{{ formatTime(event.time) }}</div>
            <div class="tag">{{ formatDate(event.time) }}</div>
        </div>

        <p class="description">{{ event.description }}</p>
        <p>
            <em>
                Hosted by
                <span *ngFor="let host of event.hosts; let isLast=last">
                    <span *ngIf="event.hosts.length == 2 && isLast"> and </span>
                    <span *ngIf="event.hosts.length > 2 && isLast">and </span>
                    <img class="verified" *ngIf="host.verified" src="assets/imgs/verified.png">
                    <a [routerLink]="'/user/' + host.id">{{ host.name }}</a>
                    <span *ngIf="event.hosts.length > 2 && !isLast">, </span>
                </span>.
            </em>
        </p>

        <p *ngIf="event.address">
            Full Address: <em>{{ event.address }}</em>. <a href="https://www.google.com/maps/search/?api=1&query={{ event.address }}">Navigate there</a>
        </p>

        <ion-grid class="status ion-no-padding" *ngIf="event.happening_now">
            <ion-row class="ion-no-padding">
                <ion-col class="ion-no-padding" size="6">
                    <app-ocean [people]="event.people" [capacity]="event.capacity"></app-ocean>
                </ion-col>
                <ion-col class="ion-no-padding" size="6">
                    <app-moon [rating]="event.rating" [large]="true"></app-moon>
                </ion-col>
            </ion-row>
        </ion-grid>

        <h3 *ngIf="event.happening_now && friends && friends.length > 0">Friends here</h3>
        <ion-grid *ngIf="event.happening_now && friends && friends.length > 0" class="friends">
            <ion-row *ngFor="let friend of friends" (click)="openUser(friend.id)">
                <ion-col size="2" class="ion-no-padding">
                    <app-avatar [user]="friend"></app-avatar>
                </ion-col>
                <ion-col size="10">
                    <h2>{{ friend.name }}</h2>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button *ngIf="event.happening_now && !event.open && event.invited_me" expand="block" size="large" color="success" routerLink="/ticket/{{ id }}">View ticket</ion-button>

        <div class="reviewer">
            <app-reviewer *ngIf="event.happening_now && !event.mine" [eventId]="event.id" [review]="event.review"></app-reviewer>
        </div>

        <div>
            <ion-button *ngIf="event.mine" class="button" expand="block" size="large" (click)="edit()">
                <ion-icon name="create"></ion-icon>
                Edit
            </ion-button>
            <ion-button *ngIf="event.mine" class="button" expand="block" size="large" (click)="openReviews()" color="warning">
                <ion-icon name="star"></ion-icon>
                Reviews
            </ion-button>
            <ion-button *ngIf="event.mine || event.open || (event.transitive_invites && event.invited_me)" class="button" expand="block" size="large" color="success" (click)="openInvites()">
                <ion-icon name="person-add"></ion-icon>
                Invite
            </ion-button>
        </div>
    </div>
</ion-content>
