<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Event</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <h1>{{ event.name }}</h1>
        <h2>{{ event.location }} at {{ event.time }}</h2>
        <p>{{ event.description }}</p>
        <ion-button class="delete-button" expand="block" color="danger" (click)="delete()">Delete</ion-button>
    </div>
</ion-content>
