<app-header title="Event" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-refresher></app-refresher>
    </ion-refresher>
    <div *ngIf="event">
        <h1><strong><em>{{ event.name }}</em></strong></h1>
        <div class="tags">
            <div class="tag">{{ event.location }}</div>
            <div class="tag">{{ formatTime(event.time) }}</div>
            <div class="tag">{{ formatDate(event.time) }}</div>
        </div>

        <p class="description">{{ event.description }}</p>
        <p>
        <em>Hosted by <a [routerLink]="'/profile/' + event.hosts[0].id">{{ event.hosts[0].name }}</a>.</em>
            <img class="verified" *ngIf="event.hosts[0].verified" src="assets/imgs/verified.png">
        </p>

        <app-votes *ngIf="event.happening_now && !event.mine" [eventId]="event.id" [vote]="event.vote"></app-votes>

        <div class="status" *ngIf="event.happening_now">
            <app-ocean [people]="event.people" [capacity]="event.capacity"></app-ocean>
            <app-moon [rating]="event.rating" [large]="true"></app-moon>
        </div>

        <ion-button *ngIf="event.happening_now && !event.open && event.invited_me" expand="block" size="large" color="success" routerLink="/ticket/{{ id }}">View ticket</ion-button>

        <h3 *ngIf="event.happening_now && friendsHere && friendsHere.length > 0">Friends here</h3>
        <ion-grid *ngIf="event.happening_now && friendsHere && friendsHere.length > 0">
            <ion-row *ngFor="let friend of friendsHere" [routerLink]="'/profile/' + friend.id">
                <ion-col size="2" class="ion-no-padding">
                    <app-avatar [avatar]="friend.avatar"></app-avatar>
                </ion-col>
                <ion-col size="10">
                    <h2>{{ friend.name }}</h2>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div>
            <ion-button *ngIf="event.mine || event.open || (event.transitive_invites && event.invited_me)" class="button" expand="block" size="large" color="secondary" (click)="openInvites()">Invite</ion-button>
            <ion-button *ngIf="event.mine" class="button" expand="block" size="large" (click)="edit()">Edit</ion-button>
        </div>
    </div>
</ion-content>
