.description-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
.time {
    text-align: right;
}
.hour {
    font-size: 40px;
}
.event-list {
    margin-bottom: 20px;
}

@keyframes item-swoop {
    from {
        padding-top: 20px;
        opacity: 0;
    }
    to {
    }
}
.event-list ion-row {
    animation: item-swoop .5s;
    margin: 0 0 20px;
}
.event-list ion-icon {
    vertical-align: top;
}

