<div *ngIf="events && events.length > 0" class="list">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-no-padding list-event" *ngFor="let event of events" (click)="goToEvent(event.id)">
            <ion-col size="8">
                <h2>{{ event.name }}</h2>
                <div class="description-preview">{{ event.description }}</div>
                <div class="tags">
                    <div class="tag">@ {{ event.location }}</div>
                </div>
            </ion-col>
            <ion-col *ngIf="event.happening_now" class="ion-no-padding" size="1.5">
            </ion-col>
            <ion-col *ngIf="event.happening_now" class="ion-no-padding" size="2.5">
                <app-moon [rating]="event.rating"></app-moon>
            </ion-col>
            <ion-col *ngIf="!event.happening_now" size="4" class="time">
                <div class="hour">{{ formatTime(event.time) }}</div>
                <div class="ampm">{{ formatAMPM(event.time) }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="events != undefined && events.length == 0" class="empty-list">
    {{ emptyMessage }}
</div>
