<app-loader *ngIf="!events"></app-loader>
<div *ngIf="events && events.length > 0" class="event-list">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center list-event {{ event.open ? 'open' : 'closed' }}" *ngFor="let event of events" (click)="goToEvent(event.id)">
            <ion-col size="8" class="ion-no-padding">
                <h2><ion-icon *ngIf="!event.open" name="lock"></ion-icon> {{ event.name }}</h2>
                <div class="description-preview">{{ event.description }}</div>
                <div class="tag">@ {{ event.location }}</div>
            </ion-col>
            <ion-col *ngIf="event.happening_now" class="ion-no-padding" size="1.5">
            </ion-col>
            <ion-col *ngIf="event.happening_now" class="ion-no-padding" size="2.5">
                <app-moon [rating]="event.rating"></app-moon>
            </ion-col>
            <ion-col *ngIf="!event.happening_now" size="4" class="time ion-no-padding ">
                <div class="hour">{{ dates.time(event.time) }}</div>
                <div class="ampm">{{ dates.meridiem(event.time) }}, {{ date(event.time) }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="events && events.length == 0 && emptyMessage" class="empty-list">
    {{ emptyMessage }}
</div>
