.description-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
.time {
    text-align: right;
}
.hour {
    font-size: 40px;
}
.event-list ion-row {
    margin: 20px 0;
}
.event-list {
    margin-bottom: 20px;
}
