.moon {
    display: inline-block;
    background: #ffffff;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    border-radius: 100%;
}
.moon .darkness {
    position: relative;
    background: var(--ion-background-color);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    text-align: center;
    transform: translateX(0px);
    transition: 1s;
}
.moon .status-label {
    width: 50%;
}
.moon.small,
.moon.small .darkness {
    width: 75px;
    height: 75px;
}
.moon.small {
    margin-left: 0;
    overflow: visible;
}
.moon.small .darkness {
    background-color: #15202b;
}
