* {
    --background: transparent;
    text-align: center;
}
hr {
    border: none;
    height: 1px;
    background: white;
    width: 40px;
    display: block;
    margin: 20px auto 30px;
}
h1 {
}
h3 {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    max-width: 80%;
    line-height: 1;
    border-bottom: none;
}
p {
    padding: 0 80px;
    margin: 5px;
}
.img-container {
    margin-top: 80px;
    height: 0;
    overflow: show;
    position: relative;
    z-index: -1;
}
g {
    animation: 10s fill-colors infinite linear;
}
ion-content {
    border: solid 15px #555D66;
    animation: 10s colors infinite linear;
}
@keyframes colors {
    0% { border-color: #F44336; }
    6% { border-color: #FF5722; }
    12% { border-color: #FF9800; }
    18% { border-color: #FFC107; }
    24% { border-color: #FFEB3B; }
    30% { border-color: #CDDC39; }
    36% { border-color: #8BC34A; }
    42% { border-color: #4CAF50; }
    48% { border-color: #009688; }
    54% { border-color: #00BCD4; }
    60% { border-color: #03A9F4; }
    66% { border-color: #2196F3; }
    72% { border-color: #3F51B5; }
    78% { border-color: #673AB7; }
    84% { border-color: #9C27B0; }
    90% { border-color: #E91E63; }
    100% { border-color: #F44336; }
}
@keyframes fill-colors {
    0% { fill: #F44336; }
    6% { fill: #FF5722; }
    12% { fill: #FF9800; }
    18% { fill: #FFC107; }
    24% { fill: #FFEB3B; }
    30% { fill: #CDDC39; }
    36% { fill: #8BC34A; }
    42% { fill: #4CAF50; }
    48% { fill: #009688; }
    54% { fill: #00BCD4; }
    60% { fill: #03A9F4; }
    66% { fill: #2196F3; }
    72% { fill: #3F51B5; }
    78% { fill: #673AB7; }
    84% { fill: #9C27B0; }
    90% { fill: #E91E63; }
    100% { fill: #F44336; }
}
