<app-header title="Settings" [back]="true"></app-header>

<ion-content class="ion-padding">
    Connect with Facebook to find friends, set your profile photo, and share events.
    <ion-button expand="block" size="large" (click)="facebookLogin()" color="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
        Connect Facebook
    </ion-button>
    <!--
    <form #form="ngForm" [formGroup]="validations_form" (ngSubmit)="submit(form)">

        <ion-item lines="none" class="toggle-container">
            <ion-label>Open event?</ion-label>
            <ion-toggle checked name="USE_LOCATION" formControlName="USE_LOCATION"
                       [value]="event ? event.open : true"></ion-toggle>
        </ion-item>

        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Save</ion-button>
    </form>
    -->
    <ion-button expand="block" size="large" (click)="logout()" color="danger">Logout</ion-button>
</ion-content>
