<app-header title="Settings" [back]="true"></app-header>

<ion-content class="ion-padding">
    <div *ngIf="user" class="settings-section">
        <div *ngIf="user.facebook_id">
            <ion-button expand="block" size="large" (click)="facebookDisconnect()">
                <ion-icon name="logo-facebook"></ion-icon>
                Disconnect Facebook
            </ion-button>
            You're connected to Facebook as {{ user.facebook_name }}.
        </div>
        <div *ngIf="!user.facebook_id">
            <ion-button expand="block" size="large" (click)="facebookConnect()">
                <ion-icon name="logo-facebook"></ion-icon>
                Connect Facebook
            </ion-button>
            Connect with Facebook to find friends, set your profile photo, and share events.
        </div>
    </div>
    <!--
    <form #form="ngForm" [formGroup]="validations_form" (ngSubmit)="submit(form)">

        <ion-item lines="none" class="toggle-container">
            <ion-label>Open event?</ion-label>
            <ion-toggle checked name="USE_LOCATION" formControlName="USE_LOCATION"
                       [value]="event ? event.open : true"></ion-toggle>
        </ion-item>

        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Save</ion-button>
    </form>
    -->
    <ion-button expand="block" size="large" (click)="logout()" color="danger">Logout</ion-button>
</ion-content>
