<ng-template [ngIf]="user.has_sent_friend_request">
    <ion-button expand="block" [size]="buttonSize" (click)="acceptFriendRequest()">{{ large ? 'Accept friend request' : 'Accept' }}</ion-button>
    <ion-button expand="block" [size]="buttonSize" (click)="rejectFriendRequest()" color="danger">Reject</ion-button>
</ng-template>
<ng-template [ngIf]="user.is_friend">
    <ion-button expand="block" [size]="buttonSize" (click)="deleteFriend()" color="success">Friends</ion-button>
</ng-template>
<ng-template [ngIf]="user.has_received_friend_request">
    <ion-button expand="block" [size]="buttonSize" (click)="cancelFriendRequest()" color="warning">{{ large ? 'Cancel request' : 'Cancel' }}</ion-button>
</ng-template>
<ng-template [ngIf]="!user.has_sent_friend_request && !user.has_received_friend_request && !user.is_friend">
    <ion-button expand="block" [size]="buttonSize" (click)="createFriendRequest()">Friend</ion-button>
    <!--<ion-button expand="block" color="secondary">Follow</ion-button>-->
</ng-template>
