<!-- Don't show if this is me (which means we are on profile tab) -->
<app-header *ngIf="!isMe" title="Profile" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-refresher></app-refresher>
    </ion-refresher>
    <div *ngIf="user">
        <app-avatar [avatar]="user.avatar" [large]="true"></app-avatar>
        <h1>{{ user.name }}</h1>
        <div *ngIf="isMe || user.is_me">
            <ion-button expand="block" size="large" (click)="openSettings()" color="secondary">Settings</ion-button>
        </div>

        <app-friend-buttons *ngIf="!(isMe || user.is_me)" [user]="user" [large]="true"></app-friend-buttons>

        <div *ngIf="user && (user.is_me || user.is_friend) && currentEvent && currentEvent.happening_now">
            <h3>Current event</h3>
            <app-event-list [events]="[currentEvent]" emptyMessage="{{ user.is_me ? 'You have' : user.name + ' has' }} not hosted any events yet."></app-event-list>
        </div>

        <h3>Events hosted</h3>
        <app-event-list [events]="events" emptyMessage="{{ user.is_me ? 'You have' : user.name + ' has' }} not hosted any events yet."></app-event-list>

        <div><a *ngIf="!(isMe || user.is_me)" (click)="block()"><u>Block {{ user.name }}</u></a></div>
    </div>
</ion-content>
