<app-header title="Updates" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <app-loader *ngIf="!updates"></app-loader>
    <div *ngIf="updates && updates.length == 0" class="empty-list">
        No updates yet.
    </div>
    <ion-grid *ngIf="updates" class="ion-no-padding">
        <ion-row *ngFor="let update of updates">
            <ion-col size="2" class="ion-no-padding">
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
                {{ update.body }}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
