ion-icon {
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    height: 30px;
}

ion-icon.positive {
    background: var(--ion-color-success);
}
ion-icon.neutral {
    background: var(--ion-color-warning);
}
ion-icon.negative {
    background: var(--ion-color-danger);
}
