<!-- Don't show if this is me (which means we are on user tab) -->
<app-header *ngIf="!isMe" title="Profile" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <app-loader *ngIf="!user"></app-loader>
    <div *ngIf="user">
        <app-avatar [user]="user" [large]="true"></app-avatar>
        <h1>{{ user.name }}</h1>
        <div *ngIf="isMe || user.is_me">
            <ion-button expand="block" size="large" (click)="openSettings()">
                <ion-icon name="settings"></ion-icon>
                Settings
            </ion-button>
            <ion-button expand="block" size="large" (click)="help()" color="danger">
                <ion-icon name="help-buoy"></ion-icon>
                Safety
            </ion-button>
        </div>

        <app-friend-buttons *ngIf="!(isMe || user.is_me)" [user]="user" [large]="true"></app-friend-buttons>

        <div *ngIf="user && (user.is_me || user.is_friend) && currentEvents && currentEvents.length > 0 && currentEvents[0].happening_now">
            <h3>Currently at</h3>
            <app-event-list [events]="currentEvents" emptyMessage="{{ user.is_me ? 'You have' : user.name + ' has' }} not hosted any events yet."></app-event-list>
        </div>

        <h3>Events {{ isMe ? 'hosted' : 'hosting' }}</h3>
        <app-event-list [events]="events" [emptyMessage]="user.is_me ? 'You have not hosted any events yet.' : user.name + ' is not hosting any events.'"></app-event-list>

        <div><a *ngIf="!(isMe || user.is_me)" (click)="block()"><u>Block {{ user.name }}</u></a></div>
    </div>
</ion-content>
