<app-header [title]="event ? ('Invitations for ' + event.name) : ''" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-item lines="none">
        <ion-input type="text"
                   autocomplete="off"
                   autocorrect="off"
                   autofocus="true"
                   placeholder="Search for users..."
                   (input)="searchUsers($event.target.value)"></ion-input>
    </ion-item>
    <div *ngIf="searchedUsers">
        <h3>Search results</h3>
        <app-user-list [users]="searchedUsers" [invite]="true" [invited]="false" [eventId]="id"></app-user-list>
    </div>
    <h3>People invited</h3>
    <app-user-list [users]="invites" [invite]="true" [invited]="true" [eventId]="id" emptyMessage="Nobody invited yet."></app-user-list>
</ion-content>
