<ion-content class="ion-padding auth">
    <div class="vertically-center">
        <ion-img class="logo" src="assets/imgs/logo/logo.png" alt="App logo"></ion-img>
        <form #form="ngForm" (ngSubmit)="submit(form)">
            <ion-grid>
                <ion-row color="primary" class="ion-justify-content-center">
                    <ion-col size-md="6" size-lg="5" size-xs="12">
                        <div>
                            <ion-item lines="none">
                                <ion-input name="email" type="email" placeholder="you@yale.edu" maxlength="120"
                                           ngModel required autocomplete="off"></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Reset Password</ion-button>
                        </div>
                    </ion-col>
                    <div class="ion-text-center">
                        <a routerLink="/login">Back to login</a>
                    </div>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
