ion-tab-bar {
    height: 70px;
}
ion-tabs ion-tab-bar {
    --ion-color-primary: white;
}
ion-tab-button ion-icon {
    transform: scale(1.2);
    transition: 0.3s;
}
ion-tab-button.tab-selected ion-icon {
    transform: scale(1.8);
    transition: 0.4s;
}
