<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="map">
            <ion-icon name="compass"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="form-event">
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="users">
            <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="user">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
