<app-header [title]="update ? 'Update on ' + update.event.name : ''" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <app-loader *ngIf="!update"></app-loader>

    <div *ngIf="update">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="2" class="ion-no-padding">
                    <app-avatar [user]="update.user"></app-avatar>
                </ion-col>
                <ion-col size="10" class="ion-no-padding">
                    <h2>{{ update.user.name }}</h2>
                </ion-col>
            </ion-row>
        </ion-grid>
        {{ update.body }}
    </div>
</ion-content>
