<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/tabs/form-event']">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Events</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="closed && open" class="list-mini-content" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-refresher></app-refresher>
    </ion-refresher>
    <app-event-list [events]="closed"></app-event-list>
    <app-event-list [events]="open" emptyMessage="No open events happening right now."></app-event-list>
</ion-content>
