<ion-content class="list-mini-content" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <div *ngIf="events && events.length > 0">
        <ion-img class="logo" src="/assets/imgs/logo/logo.png"></ion-img>
    </div>
    <app-event-list [class]="!events ? 'vertically-center' : ''" [events]="events"></app-event-list>
    <div *ngIf="events && events.length == 0" class="empty-list vertically-center">
        <ion-img class="loader large" src="assets/imgs/logo/icon_grey.png"></ion-img>
        Nothing's happening right now.<br>
        What is this, Harvard?
    </div>
</ion-content>
