<app-loader *ngIf="!tags"></app-loader>
<div *ngIf="tags && tags.length > 0" class="list">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center" *ngFor="let tag of tags">
            <ion-col size="9">
                <div>
                    <h2>
                        {{ tag }}
                    </h2>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-no-padding" *ngIf="!tag.is_me">
                <app-tag-buttons [eventId]="eventId" [tag]="tag" [added]="isCurrent || current.indexOf(tag) !== -1"></app-tag-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="emptyMessage && tags && tags.length == 0" class="empty-list">
    {{ emptyMessage }}
</div>
