// TODO Remove padding for iPhone X etc., because flowing into the top is quite cool with the map

#map_canvas {
    width: 90%;
    height: 100%;
}

#map {
    width: 100%;
    height: 110vh;
}

app-loader {
    z-index: 100;
}
.map-wrapper {
    opacity: 1;
    transition: 0.4s;
}
.map-wrapper.hidden {
    opacity: 0.3;
}
