<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Friend requests</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div *ngIf="requests && requests.length > 0" class="list">
        <app-user-list [users]="requests" emptyMessage="You have no incoming requests."></app-user-list>
    </div>
    <app-user-list [users]="friends"></app-user-list>
    <!-- TODO: find some way to do this with an emptyMessage parameter to app-user-list -->
    <div *ngIf="friends && friends.length == 0" class="empty-list">
        You have no friends yet... make some?<br>
        <ion-button size="large" (click)="searchUsers()">Find friends!</ion-button>
    </div>
</ion-content>
