<app-header title="" [back]="true"></app-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-loader [showMessage]="false"></app-loader>
    </ion-refresher>
    <app-loader *ngIf="!reviews"></app-loader>
    <div *ngIf="reviews && reviews.length == 0" class="empty-list">
        No reviews yet.
    </div>
    <ion-grid *ngIf="reviews" class="ion-no-padding">
        <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
                <ion-icon class="positive" name="thumbs-up"></ion-icon>
                {{ positiveCount }}
            </ion-col>
            <ion-col class="ion-no-padding">
                <ion-icon class="neutral" name="star-half"></ion-icon>
                {{ neutralCount }}
            </ion-col>
            <ion-col class="ion-no-padding">
                <ion-icon class="negative" name="thumbs-down"></ion-icon>
                {{ negativeCount }}
            </ion-col>
        </ion-row>
        <h3>Feedback</h3>
        <div *ngIf="reviews && reviews.length == 0" class="empty-list">
            No feedback has been provided.
        </div>
        <ion-row *ngFor="let review of reviews">
            <ion-col size="2" class="ion-no-padding">
                <ion-icon *ngIf="review.positive && !review.negative" class="positive" name="thumbs-up"></ion-icon>
                <ion-icon *ngIf="!review.positive && !review.negative" class="neutral" name="star-half"></ion-icon>
                <ion-icon *ngIf="!review.positive && review.negative" class="negative" name="thumbs-down"></ion-icon>
            </ion-col>
            <ion-col size="10" class="ion-no-padding">
                "{{ review.body }}"
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
