<div *ngIf="users && users.length > 0" class="list">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-no-padding" *ngFor="let user of users">
            <ion-col size="2">
                <app-avatar [hash]="user.avatar"></app-avatar>
            </ion-col>
            <ion-col size="7" (click)="openProfile(user.id)">
                <div>
                    <h2>{{ user.name }}</h2>
                    {{ user.email }}
                </div>
            </ion-col>
            <ion-col size="3">
                <app-friend-buttons [user]="user"></app-friend-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="emptyMessage && users && users.length == 0" class="empty-list">
    {{ emptyMessage }}
</div>
