<div *ngIf="users && users.length > 0" class="list">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-no-padding" *ngFor="let user of users">
            <ion-col size="2" class="ion-no-padding">
                <app-avatar [user]="user"></app-avatar>
            </ion-col>
            <ion-col size="7" (click)="openProfile(user.id)">
                <div>
                    <h2>{{ user.name }}</h2>
                    {{ user.email }}
                </div>
            </ion-col>
            <ion-col size="3" class="ion-no-padding">
                <app-friend-buttons *ngIf="friend" [user]="user"></app-friend-buttons>
                <app-invite-buttons *ngIf="invite" [user]="user" [eventId]="eventId"></app-invite-buttons>
                <app-host-buttons *ngIf="host" [user]="user" [eventId]="eventId"></app-host-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<div *ngIf="emptyMessage && users && users.length == 0" class="empty-list">
    {{ emptyMessage }}
</div>
