<!-- Don't show from update creation tab -->
<app-header *ngIf="editing" title="Edit Update" [back]="true"></app-header>

<ion-content class="ion-padding">
    <app-loader *ngIf="editing && !update"></app-loader>
    <div class="{{ (editing && !update) ? 'hidden' : '' }}">
        <form #form="ngForm" [formGroup]="validations_form" (ngSubmit)="submit(form)">
            <ion-item lines="none">
                <ion-textarea placeholder="Write an update..." formControlName="body" autocomplete="on" autocorrect="on"
                           maxlength="1024" [value]="update ? update.body : ''"></ion-textarea>
            </ion-item>

            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
                <ion-icon name="send"></ion-icon>
                {{ editing ? 'Update' : 'Post' }}
            </ion-button>
        </form>
    </div>
</ion-content>
