<ion-content color="primary" class="ion-padding auth">
    <ion-img class="logo" src="assets/imgs/logo/logo.png" alt="App logo"></ion-img>
    <p>What's the move?</p>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col size-md="6" size-lg="5" size-xs="12">
                    <div>
                        <ion-item lines="none">
                            <ion-input name="email" type="email" placeholder="you@yale.edu" ngModel required></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div>
                        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
                    </div>
                </ion-col>
                <div class="ion-text-center">
                    Don't have an account? <a routerLink='/register'>Tap here to sign up!</a>
                </div>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
