ion-content {
    //--background: url('../../../../assets/imgs/Denim.png');
}
.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-button {
    margin-bottom: 10px;
}
.ion-text-center {
    line-height: 1.3;
}
