// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:host {
    --padding-start: 0 !important;
}
.header-md::after {
    display: none;
}
ion-input{
    --placeholder-color: red;
    --placeholder-opacity: 1;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}
::-moz-placeholder { /* Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
:-moz-placeholder { /* Firefox 18- */
    color: red;
}

// TODO: sort this file

ion-item {
    --background: #2c3640;
    --color: #fff;
    margin-bottom: 5px;
}
h2 {
    margin-top: 0;
}

ion-button {
    --background: #0467f6;
}

a{
    color: #fff;
}

ion-content.auth {
    --padding-top: 120px;
}

@keyframes load {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader {
    width: 40px;
    animation: 0.5s load infinite linear;
    margin: 0 auto;
}

.list-event {
}
h1 {
    font-size: 80px;
    line-height: 1;
    margin-top: 0;
}

.description {
    white-space: pre-wrap;
}

.status {
    margin-bottom: 20px;
}

.ocean {
    height: 150px;
    width: 150px;
    background: #1e282c;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
}
.ocean.small {
    width: 120px;
    height: 120px;
}
.ocean .water span {
    display: block;
    width: 100%;
}
.status-label {
    position: relative;
    top: 40px;
    text-align: center;
    z-index: 10;
}
.status-label span {
    font-size: 50px;
    line-height: 0.9;
}
.water {
    z-index: -1;
}
.wave {
    background: url("assets/imgs/wave.png");
    height: 22px;
    background-size: contain;
    background-repeat: repeat-x;
    animation: wave 10s linear infinite;
}
.deep-water {
    background: #0467f6;
    height: 200px;
    transition: 1s transform;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 1000px 0px;
    }
}

.moon {
    display: inline-block;
    background: #ffffff;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    border-radius: 100%;
    overflow: hidden;
}
.moon .darkness {
    position: relative;
    top: 0;
    background: #1e282c;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.moon .status-label {
    top: -110px;
    position: relative;
    mix-blend-mode: difference;
}
.moon.small,
.moon.small .darkness {
    width: 75px;
    height: 75px;
}
.moon.small {
    margin-left: 0;
    overflow: visible;
}
.moon.small .darkness {
    background-color: #263238;
}

.tags {
    .tag {
        display: inline-block;
        background: #0467f6;
        padding: 3px 5px;
        margin-right: 3px;
        margin-bottom: 3px;
        font-size: 20px;
    }
}

.empty-list {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    color: var(--ion-color-medium);
}

.verified {
    width: 15px;
}
