// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:host {
    --padding-start: 0 !important;
}
.header-md::after {
    display: none;
}
ion-input{
    --placeholder-color: red;
    --placeholder-opacity: 1;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
:-moz-placeholder { /* Firefox 18- */
  color: red;
}

ion-item {
    --background: #37474F;
    --color: #fff;
    margin-bottom: 5px;
}

ion-button{
    --background: #1D306D;
}

a{
    color: #fff;
}

ion-content.auth {
    --padding-top: 120px;
}

@keyframes load {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.loader {
    width: 40px;
    animation: 4s load infinite linear;
    margin: 0 auto;
}

.list-party {
    border-bottom: solid 1px white;
}
