<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs"></ion-back-button>
        </ion-buttons>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #form="ngForm" [formGroup]="validations_form" (ngSubmit)="submit(form)">
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label position="floating">Location</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label>Start time</ion-label>
            <ion-datetime
                formControlName="time_start"
                displayFormat="MMM DD, HH:mm"
                monthShortNames="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec"
                minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                >
            </ion-datetime>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-toggle checked [(ngModel)]="open" name="open" formControlName="open"></ion-toggle>
            <ion-label>Open event?</ion-label>
        </ion-item>
        <div>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Go live</ion-button>
        </div>
    </form>
</ion-content>
